<mat-card>
    <mat-card-header routerLink="/!/user/{{ answer.creator.id }}">
        <div mat-card-avatar [style.background-image]="getAvatarImage()" class="avatar"></div>
        <mat-card-title>{{ answer.creator.name }}</mat-card-title>
        <mat-card-subtitle>(click to get to user)</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>{{ answer.message }}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="answer.creator.id === user.id">
        <button mat-button (click)="removeAnswer()"><mat-icon>remove_circle</mat-icon> remove Answer</button>
    </mat-card-actions>
</mat-card>
