<div *ngIf="category !== undefined">
  <mat-toolbar class="forum-header"><!-- this is the headerbar -->
    <a routerLink="/!/forum" class="unmarked-link">Forum</a>
    <a routerLink="/!/forum/{{category.id}}" class="unmarked-link">{{category.name}}</a>
  </mat-toolbar>
  <div class="inner-content">
    <mat-list>
      <mat-list-item *ngFor="let thread of category.threads" routerLink="/!/forum/{{category.id}}/thread/{{ thread.id }}">
        <mat-icon mat-list-icon>speaker_notes</mat-icon>
        <h4 mat-line>{{thread.topic}}</h4>
        <p mat-line>by {{thread.creator.name}} | posted on {{thread.lastUpdate | date}} | {{ thread.answers.length }} answers</p>
        <span matTooltip="{{ thread.views }} views" matTooltipPosition="after">{{ thread.views }}</span>
      </mat-list-item>
      <mat-list-item *ngIf="category.threads.length == 0">
        <mat-icon mat-list-icon>speaker_notes</mat-icon>
        <h4 mat-line>No topics yet</h4>
      </mat-list-item>
    </mat-list>
    <button mat-raised-button routerLink="/!/forum/{{category.id}}/thread-create">Create new Thread</button>
  </div>
</div>
<p *ngIf="category === undefined">Loading...</p>
