.headerBar{
  padding-left: 25px;
  margin:0;
  background-color: #FF5722;
  color: white;

}
.sidenav-container{
  background-color: #FFAB91;
  height:100vh;
}
.sidenav-main-container{

 height:100vh;
}
mat-sidenav {

}
.heightSpacer{


}
