<mat-toolbar class="header"><!-- this is the headerbar -->
  <button mat-button class="menu-button" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/!/dashboard" class="unmarked-link">{{title}}</a>
</mat-toolbar>

<mat-sidenav-container class="sidenav">
  <mat-sidenav #sidenav mode="push" class="sidenav container">
    <!--
    <div class="sidenav header">
      <mat-toolbar class="header">
        <span style="margin-left: 15px">Awesome items!</span>
      </mat-toolbar>
    </div>
    -->

    <mat-list role="list"><!-- This is the List that pops out when u open the sidebarmenu -->
        <mat-list-item role="listitem">
          <button mat-button routerLink="/!/dashboard" class="sidenav-item">
            <mat-icon style="padding-right: 10px">dashboard</mat-icon>Dashboard
          </button>
        </mat-list-item>
        <mat-list-item role="listitem">
            <button mat-button routerLink="/!/forum" class="sidenav-item">
            <mat-icon style="padding-right: 10px">forum</mat-icon>Forum
            </button>
        </mat-list-item>
        <mat-list-item role="listitem">
          <button mat-button routerLink="/!/user-info" class="sidenav-item">
          <mat-icon style="padding-right: 10px">User</mat-icon>User
          </button>
      </mat-list-item>
      </mat-list>
  </mat-sidenav>

  <mat-sidenav-content> <!-- Contains the content that gets Pushed by the Sidebar -->
    <router-outlet class="Main Content"><!-- the router-outlet is the element that gets changed when the routes change -->
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
