<mat-toolbar class="header"><!-- this is the headerbar -->
  <button mat-button class="menu-button" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <a routerLink="/!/dashboard" class="unmarked-link">{{title}}</a>
</mat-toolbar>

<mat-sidenav-container class="sidenav">
  <mat-sidenav #sidenav mode="push" class="sidenav container">
    <mat-list role="list"><!-- This is the List that pops out when u open the sidebarmenu -->
        <mat-list-item role="listitem">
          <button mat-button routerLink="/!/dashboard" class="sidenav-item">
            <mat-icon style="padding-right: 10px">dashboard</mat-icon>Dashboard
          </button>
        </mat-list-item>
        <mat-list-item role="listitem">
            <button mat-button routerLink="/!/forum" class="sidenav-item">
            <mat-icon style="padding-right: 10px">forum</mat-icon>Forum
            </button>
        </mat-list-item>
        <mat-list-item role="listitem">
          <button mat-button routerLink="/!/user/{{ user.id }}" class="sidenav-item">
          <mat-icon style="padding-right: 10px">portrait</mat-icon>User
          </button>
        </mat-list-item>
        <mat-list-item role="listitem">
            <button mat-button routerLink="/logout" class="sidenav-item">
            <mat-icon style="padding-right: 10px">exit_to_app</mat-icon>Logout
            </button>
          </mat-list-item>
      </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet class="Main Content">
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
