<div class="container">
  <mat-card>
    <div>
      <img src="{{user.avatar}}">
      <p>Name: {{user.name}}</p>
      <p>ID: {{user.id}}</p>
      <p>Posts created: tbi</p> <!-- add {{user.threads.size}} -->
      <p>Post-Answers: tbi</p> <!-- add {{user.answers.size}} -->
    </div>
  </mat-card>
  <mat-tab-group>
    <mat-tab label="Threads you created"> <!-- change lastThreads to createdThreads -->
      <mat-list>
        <div *ngIf="lastThreads !== null && lastThreads !== undefined">
          <mat-list-item *ngFor="let thread of lastThreads" routerLink="/!/forum/{{ thread._category }}/thread/{{ thread.id }}">
           <mat-icon mat-list-icon>bookmark</mat-icon>
            <h4 mat-line>{{thread.topic}}</h4>
            <p mat-line>by {{thread.creator.name}} | last answer {{thread.lastUpdate | date}} | {{ thread.answers.length }} answers</p>
            <span matTooltip="{{ thread.views }} views" matTooltipPosition="after">{{ thread.views }}</span>
          </mat-list-item>
        </div>
      </mat-list>
    </mat-tab>
    <mat-tab label="Threads you replied to">Content 2  <!-- change 'Content 2' to repliedThreads -->
    </mat-tab>
  </mat-tab-group>
</div>
