.inner-content {
  font-family: Roboto;
  //width: 60vw;
}

mat-card {
  background: #EEEEEE;
  margin-bottom: 5px;
}

mat-card-header {
  cursor: pointer;
}

.avatar {
  background-size: cover;
}

.maxWidth {
  min-width: 150px;
  max-width: 66vw;
  width: 100%;
}
.buttonPos {
  float: right;
}
