@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0px;
}

.unmarked-link{
  text-decoration: none;
  color: Black;
}

.inner-content{
  margin: 0 10vw 0 10vw;
}
