<div class="container" *ngIf="user">
  <mat-card>
    <div>
      <img src="{{ user.avatar }}">
      <p>Name: {{ user.name }}</p>
      <p>ID: {{ user.id }}</p>
      <p>Posts created: {{ lastThreads.length }}</p>
      <p>Answers created: {{ lastAnswers.length }}</p>
    </div>

    <mat-tab-group>
      <mat-tab label="Threads created"> <!-- change lastThreads to createdThreads -->
        <mat-list>
          <div *ngIf="lastThreads !== null && lastThreads !== undefined">
            <mat-list-item *ngFor="let thread of lastThreads" routerLink="/!/forum/{{ thread._category }}/thread/{{ thread.id }}">
              <mat-icon mat-list-icon>bookmark</mat-icon>
              <h4 mat-line>{{ thread.topic }}</h4>
              <p mat-line>by {{ thread.creator.name }} | last answer {{ thread.lastUpdate | date }} | {{ thread.answers.length }} answers</p>
              <span matTooltip="{{ thread.views }} views" matTooltipPosition="after">{{ thread.views }}</span>
            </mat-list-item>
            <mat-list-item *ngIf="lastThreads.length === 0">
              <mat-icon mat-list-icon>speaker_notes</mat-icon>
              <h4 mat-line>No topics yet</h4>
            </mat-list-item>
          </div>
        </mat-list>
      </mat-tab>
      <mat-tab label="Created answers"><!-- change 'Content 2' to repliedThreads -->
        <mat-list>
          <mat-list-item *ngFor="let answer of lastAnswers">
            <mat-icon mat-list-icon>speaker_notes</mat-icon>
            <h4 mat-line>{{ answer.message }}</h4>
          </mat-list-item>
          <mat-list-item *ngIf="lastAnswers.length === 0">
            <mat-icon mat-list-icon>speaker_notes</mat-icon>
            <h4 mat-line>No answers yet</h4>
          </mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
